<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Chris Granger" />
    <meta name="description" content="{{ page.meta }}" />
    <link href="http://feeds.feedburner.com/ChrisGranger" rel="alternate" title="Chris Granger" type="application/atom+xml" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen-dark.css" type="text/css" media="screen, projection" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>

    <!-- header links CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/header-links.css" type="text/css" media="screen" />

  </head>
  <body>

    <div id="wrapper">
      <div id="nav">
        <h1><a href="http://www.lighttable.com/">Light Table</a></h1>
        <ul>
            <li><a href="/#start">Getting started</a></li>
            <li><a href="/#how">How do I..?</a></li>
            <li><a href="/#what">What is..?</a></li>
            <li><a href="/#other">Other</a></li>
            <li><a href="#" id="searchtoggle">Search</a></li>
        </ul>
        <input type="text" id="search" placeholder="search" />
      </div>

      <div id="contentwrapper">
        <div id="content" class="{{ page.class }}">
          {{ content }}
        </div>
      </div>

      <p id="copyright">© 2012 Chris Granger</p>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5714038-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Google Analytics end -->
    <script src="/js/default.js" type="text/javascript"></script>


    <!-- header links -->
    <script>
      $(function() {
        return $("h2, h3, h4, h5, h6").each(function(i, el) {
          var $el, icon, id;
          $el = $(el);
          id = $el.attr('id');
          icon = '<i class="fa fa-link"></i>';
          if (id) {
            return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
          }
        });
      });
    </script>

  </body>
</html>
